html {
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  color: var(--c-primary);
  background: var(--c-bg);
  font-size: responsive;
  min-font-size: 12px;
  max-font-size: 17px;
  lower-font-range: 420px;
  upper-font-range: 1440px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: responsive;
  min-font-size: 28px;
  max-font-size: 44px;
  margin-bottom: 10px;
  font-weight: 800;
}

p {
  margin: 0 0 20px;
  line-height: 1.45;
  opacity: 0.9;

  /*@media (min-width: 768px) {
    margin: 20px 0;
  }*/
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:not(body) {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.svg-sprite-block {
  height: 0;
  width: 0;
  position: absolute;
  visibility: hidden;
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  position: relative;
  top: -0.0625em;
}
