{
  "extends": "stylelint-config-standard",
  "rules": {
    "property-no-unknown": [ true, {
      "ignoreProperties": [
        "min-font-size",
        "max-font-size",
        "lower-font-range",
        "upper-font-range",
      ]
    }]
  }
}
