body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

main {
  flex: 1;
}

.container {
  margin: 0 6%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 426px) {
    margin: 0 17%;
  }

  &--row {
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &--modal {
    display: block;
  }
}

.section {
  min-height: 100vh;
}

.content {
  text-align: justify;

  @media (min-width: 768px) {
    width: 50%;
  }
}
