footer.footer
  .container
    .footer__links
      a.footer__link(href='#')
        +icon('facebook')
      a.footer__link(href='#')
        +icon('instagram')

include ../sections/2.1-portfolio.pug

// scripts
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.8/jquery.fullPage.js')
script(src='https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js')
script(src='js/vanilla-lazyload.min.js')
script(src='js/bundle.js')
