header.header
  .container
    .header__inner
      a.header__logo(href='#aboutPage')
        +icon('logo')
      a.header__burger(href='#')
        +icon('burger')
      include ../components/_navbar
