header.header
  .container
    .header__inner
      .header__container
        a.header__logo(href='#aboutPage')
          +icon('logo')
      .header__container
        a.header__burger(href='#')
          +icon('burger')
      include ../components/_navbar
