#about.section(data-anchor='aboutPage')
  .container
    .content
      h1 About us
      p Apollo 14 is a visual communication agency that provides services of photo and video shooting and other services connected with brand promotion. We produce lookbooks, catalogue shootings, editorials and also video for brands, apparel companies, startups etc.
      a.button.button--to-contacts(href='#contactsPage') contact us
    span.scroll-down
      +icon('arrow')
      |begin
      br
      |scrolling
