#about.section(data-anchor='aboutPage')
  .container
    .content
      h1 About Us
      p Apollo 14 is a visual communication agency that provides services of photo and video shooting and other services connected with brand promotion. We produce lookbooks, catalogue shootings, editorials and also video for brands, apparel companies, starups etc.
      a.button(href='#') contact us
    a.scroll-down(href='#')
      +icon('arrow')
      |begin
      br
      |scrolling
