#works.section(data-anchor='worksPage')
  .container
    .container--row
      .content
        h1 Our Works
        p We have 5-year experience of creating clothings brands, promoting them and also creating content for big brands and promo campaigns.
      a.button(href='#') view all projects

    .works
      .works__black
      .works__items
        a.works__item(href='#')
          img.works__img(src='img/image1.jpg')
        a.works__item(href='#')
          img.works__img(src='img/image1.jpg')
        a.works__item(href='#')
          img.works__img(src='img/image1.jpg')
        a.works__item(href='#')
          img.works__img(src='img/image1.jpg')
