.portfolio
  .container
    .portfolio__header
      +icon('logo')
      +icon('close')
    .portfolio__description
      h1 Projects
      p We have 5-year experience of creating clothings brands, promoting them and also creating content for big brands and promo campaigns. That`s why we can understand needs of visual content properly. One day we decided that we can link talented professional photographers and video operators in Ukraine with companies all over the world.

    .portfolio__items
