#process.section(data-anchor='processPage')
  .container.process
    h1.process__headline Process
    .process__inner
      .process__item
        h1.process__number 01.
        p.process__text Firstly, we need to know your complany`s business goals, video goals, branding features and get all needed information about your product or service.
      .process__item
        h1.process__number 02.
        p.process__text Secondly, we discuss script and video concept, references if you have them ready or develop our own idea. We will show you script and then will start casting and location selection. Also, we keep you updated on every stage of shooting process.
