#pricing.section(data-anchor='pricingPage')
  .container.pricing
    .pricing__tabs
      a#domesticLink.pricing__link.is-active(href='#') Domestic Video Shoot
      a#internationalLink.pricing__link(href='#') International Travel Video Shoot
      a#lookbookLink.pricing__link(href='#') Lookbook or Catalogue Photo Shoot
      a#smmLink.pricing__link(href='#') SMM Services
    .pricing__items
      .pricing__item.item.is-active#domestic
        h4.headline Approximately 1-2 min video
          span.price $ 3500 +
        h4.headline Includes:
        ul.list
          li Creative concept
          li Storyboard
          li Operators work
          li Model scouting and scheduling
          li Location scouting and scheduling
          li Make-up (if needed)
          li Stylist
          li Musical score
          li Editing
          li Final Delivery
        p.details *Shipping costs for delivering products, goods are not included
        p.youget
          |You get:
          br
          |1 video up to 2 minutes with models in various locations, demonstrating your products / clothing etc. Also, it can be a Kickstarter presentation video for a product or service.
      .pricing__item.item#international
        h4.headline Approximately 1-2 min video
          span.price $ 3500 +
        h4.headline Includes:
        ul.list
          li Creative concept
          li Storyboard
          li Operators work
          li Model scouting and scheduling
          li Location scouting and scheduling
          li Make-up (if needed)
          li Stylist
          li Musical score
          li Editing
          li Final Delivery
        p.details *Shipping costs for delivering products, goods are not included
        p.youget
          |You get:
          br
          |1 video up to 2 minutes with models in various locations, demonstrating your products / clothing etc. Also, it can be a Kickstarter presentation video for a product or service.
      .pricing__item.item#lookbook
        h4.headline Approximately 1-2 min video
          span.price $ 3500 +
        h4.headline Includes:
        ul.list
          li Creative concept
          li Storyboard
          li Operators work
          li Model scouting and scheduling
          li Location scouting and scheduling
          li Make-up (if needed)
          li Stylist
          li Musical score
          li Editing
          li Final Delivery
        p.details *Shipping costs for delivering products, goods are not included
        p.youget
          |You get:
          br
          |1 video up to 2 minutes with models in various locations, demonstrating your products / clothing etc. Also, it can be a Kickstarter presentation video for a product or service.
      .pricing__item.item#smm
        h4.headline Approximately 1-2 min video
          span.price $ 3500 +
        h4.headline Includes:
        ul.list
          li Creative concept
          li Storyboard
          li Operators work
          li Model scouting and scheduling
          li Location scouting and scheduling
          li Make-up (if needed)
          li Stylist
          li Musical score
          li Editing
          li Final Delivery
        p.details *Shipping costs for delivering products, goods are not included
        p.youget
          |You get:
          br
          |1 video up to 2 minutes with models in various locations, demonstrating your products / clothing etc. Also, it can be a Kickstarter presentation video for a product or service.
