#contacts.section(data-anchor='contactsPage')
  .container.contacts
    .contacts__tabs
      a.contacts__tab.is-active(href='#') Contacts
      a.contacts__tab(href='#') Feedback
    .contacts__content.contacts__tab-container.is-active
      h1.contacts__title
        |Get in touch
        br
        |with us
      p.contacts__text If you would like to find out more about how we can help you, please give us a call or drop us a line.

      .contacts__items
        p.contacts__item
          +icon('location')
          |Kyiv, Ukraine
        p.contacts__item
          +icon('phone')
          |+38 063 57 37 626
        a.contacts__item.contacts__mail(href='mailto:vt@apollo14.agency')
          +icon('mail')
          |vt@apollo14.agency

    form.contacts__form.contacts__tab-container(method='POST' action='http://formspree.io/kolbasovs@gmail.com')
      h4.contacts__headline Send a message
      div
        input(placeholder='Name', type='text', name='name')
      div
        input(placeholder='E - mail', type='email' name='_replyto')
      div
        textarea(placeholder='Message', rows='5', name='message')
      button(type='submit').button.button--form send message
