.portfolio
  .portfolio__inner
    .container.container--modal
      .portfolio__header
        a.header__logo(href='#aboutPage')
          +icon('logo')
        a.header__close.header__close--portfolio(href='#')
          +icon('close')
      .portfolio__description
        h1.portfolio__title Projects
        p.portfolio__text We have 5-year experience of creating clothings brands, promoting them and also creating content for big brands and promo campaigns. That`s why we can understand needs of visual content properly. One day we decided that we can link talented professional photographers and video operators in Ukraine with companies all over the world.
      .portfolio__categories
        a.portfolio__category.is-active(href='#') all
        a.portfolio__category(href='#') photo
        a.portfolio__category(href='#') video
        a.portfolio__category(href='#') lookbook
      .portfolio__items
        a.portfolio__item.item--photo(href='#')
          img.portfolio__image(data-src='img/image3@2x.jpg', src='#')
        a.portfolio__item.item--video(href='#')
          img.portfolio__image(data-src='img/image1@2x.jpg', src='#')
        a.portfolio__item.item--photo(href='#')
          img.portfolio__image(data-src='img/image2@2x.jpg', src='#')
        a.portfolio__item.item--lookbook(href='#')
          img.portfolio__image(data-src='http://assets.barcroftmedia.com.s3-website-eu-west-1.amazonaws.com/assets/images/recent-images-11.jpg', src='#')
        a.portfolio__item.item--photo(href='#')
          img.portfolio__image(data-src='http://www.planwallpaper.com/static/images/desktop-year-of-the-tiger-images-wallpaper.jpg', src='#')
        a.portfolio__item.item--video(href='#')
          img.portfolio__image(data-src='http://7606-presscdn-0-74.pagely.netdna-cdn.com/wp-content/uploads/2016/03/Dubai-Photos-Images-Oicture-Dubai-Landmarks-800x600.jpg', src='#')
        a.portfolio__item.item--photo(href='#')
          img.portfolio__image(data-src='http://www.freedigitalphotos.net/images/img/homepage/87357.jpg', src='#')
        a.portfolio__item.item--lookbook(href='#')
          img.portfolio__image(data-src='https://pixabay.com/static/uploads/photo/2016/03/28/12/35/cat-1285634_960_720.png', src='#')
        a.portfolio__item.item--photo(href='#')
          img.portfolio__image(data-src='http://www.w3schools.com/css/trolltunga.jpg', src='#')
        a.portfolio__item.item--photo(href='#')
          img.portfolio__image(data-src='http://www.gettyimages.ca/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg', src='#')
      .portfolio__loadmore
          a.link--loadmore(href='#')
            +icon('loadmore')
            |load more
