.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1.76em;

  * + * {
    margin-left: 1.17em;
  }

  &__link {
    opacity: 0.65;
    transition: opacity 400ms;

    &:hover {
      opacity: 1;
    }
  }
}
