.header {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;

  &__container {
    flex: 1;

    &:nth-child(2) {
      text-align: right;
    }
  }

  &__logo {
    opacity: 1;
    width: 100px;
    height: 24px;

    @media (min-width: 769px) {
      width: 150px;
      height: 36px;
    }
  }

  &__burger,
  &__close {
    opacity: 1;

    @media (min-width: 1024px) {
      display: none;
    }

    &--portfolio {
      @media (min-width: 1024px) {
        display: block;
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0;
    font-size: 22px;

    @media (min-width: 1024px) {
      font-size: 14px;
    }

    @media (min-width: 769px) {
      padding: 2em 0 1em;
    }

    &--nav {
      @media (min-width: 1024px) {
        display: none;
      }
    }
  }

  &__nav {
    transition: all 400ms;
    padding: 0 6%;

    @media (min-width: 426px) and (max-width: 1024px) {
      padding: 0 17%;
    }

    &.is-open {
      visibility: visible;
      opacity: 1;
    }

    @media (max-width: 1023px) {
      position: fixed;
      z-index: 200;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--c-bg);
      visibility: hidden;
      opacity: 0;
    }

    @media (min-width: 1024px) {
      padding: 0;

      > * + * {
        margin-left: 2.15em;
      }
    }
  }
}

.nav__item {
  position: relative;
  display: inline-block;
  z-index: 1;

  @media (max-width: 1023px) {
    display: block;
    margin-bottom: 1.36em;
    font-weight: 800;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 20px;
    height: 2px;
    display: block;
    background: var(--c-secondary);
    z-index: -1;
    max-width: 0;
    transition: max-width 300ms;
  }

  &.active,
  &:hover {
    @media (min-width: 426px) {
      a {
        opacity: 1;
      }

      &::before {
        max-width: 20px;
      }
    }
  }
}
