-
  var menu = {
    "About Us": "aboutPage",
    "Our Works": "worksPage",
    "Process": "processPage",
    "Pricing": "pricingPage",
    "Contacts": "contactsPage",
  }

ul.header__nav#menu
  each href, item in menu
    li.nav__item(data-menuanchor=href)
      a(href='#' + href, title= item)= item
