extends layout/_default.pug

block header
  include includes/_mixins.pug
  include includes/_svg-sprite.pug
  include includes/_header.pug

block main
  main#fullpage
    include sections/1-about.pug
    include sections/2-works.pug
    include sections/3-process.pug
    include sections/4-pricing.pug
    include sections/5-contacts.pug

block footer
  include includes/_footer.pug
