#about {
  background-image: url('../img/bg-about.jpg');
  position: relative;
}

.scroll-down {
  position: absolute;
  bottom: 1.76em;
  display: inline-flex;
  align-items: flex-end;

  .arrow {
    margin-right: 1.5em;
  }
}
