.works {
  position: relative;

  &__text {
    margin: 0 0 15px;

    @media (min-width: 768px) {
      margin: 0;
    }
  }

  &__headline {
    line-height: 1;
  }

  &__black {
    position: absolute;
    z-index: 10;
    background: var(--c-bg);
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    transform: translateX(-100%) translateZ(1px);
  }

  &__items {
    margin: 25px -5px 0;
  }

  &__item {
    width: 60vw;
    margin: 0 5px;
    position: relative;

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    @media (min-width: 426px) {
      width: inherit;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
