.works {
  position: relative;

  &__black {
    position: absolute;
    z-index: 10;
    background: var(--c-bg);
    top: -2px;
    bottom: -2px;
    left: 0;
    width: 30%;
    transform: translateX(-100%);
  }

  &__items {
    margin: 0 -5px;
  }

  &__item {
    width: 30%;
    margin: 0 5px;
  }

  &__img {
    width: 100%;
    height: auto;
    display: block;
  }
}
