#process {
  background-image: url('../img/bg-process.jpg');
}

.process {
  text-align: justify;

  * + * {
    margin-top: 30px;
  }
}

.process__item > * {
  display: inline-block;
  vertical-align: top;
}

.process__number {
  opacity: 0.6;
  display: inline-block;
  vertical-align: top;
}

.process__text {
  margin: 0 0 0 1.17em;
  width: 60%;
}
