#pricing {
  background-image: url('../img/bg-pricing.jpg');
}

.pricing {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__tabs {
    text-transform: uppercase;
    width: 50%;
  }

  &__link {
    display: block;
    margin-bottom: 20px;

    &.is-active {
      color: var(--c-secondary);
    }

    &:hover {
      color: var(--c-secondary);
    }
  }

  &__items {
    width: 50%;
    position: relative;
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms;

    &.is-active {
      position: static;
      opacity: 1;
      visibility: visible;
    }
  }
}
