#pricing {
  background-image: url('../img/bg-pricing.jpg');
  transition: background 800ms;
}

.pricing {
  /*display: block;*/
  position: relative;
  /*padding-top: 100px;*/

  @media (min-width: 769px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__headline {
    margin-bottom: 0.9em;
    text-transform: capitalize;
  }

  &__tabs {
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    transition: opacity 400ms, transform 400ms;
    /*margin-bottom: 5em;*/

    @media (max-width: 768px) {
      transform: translateX(0);
    }

    @media (min-width: 769px) {
      width: 50%;
      padding-right: 1em;
    }

    &.is-hidden {
      @media (max-width: 768px) {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
      }
    }
  }

  &__link {
    display: inline-block;
    /*display: block;*/
    width: 100%;
    margin-bottom: 20px;
    transition: background 400ms;

    @media (min-width: 769px) {
      padding: 10px 15px;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
    }

    &.is-active {
      @media (min-width: 769px) {
        opacity: 1;
        color: var(--c-secondary);
        background: rgba(#000, 0.2);

        .pricing__arrow {
          display: block;
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &:hover {
      opacity: 1;
      color: var(--c-secondary);
    }
  }

  &__arrow {
    opacity: 0;
    visibility: hidden;
    transform: rotate(180deg) translateZ(1px);
    margin-left: 15px;
    transition: opacity 400ms;
  }

  &__items {
    position: absolute;
    /*top: 55px;*/
    left: 0;
    right: 0;

    @media (min-width: 769px) {
      position: relative;
      width: 50%;
      top: 0;
    }
  }

  &__item {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: transform 400ms;

    @media (max-width: 768px) {
      transform: translateX(100%);
    }

    &.is-active {
      opacity: 1;
      visibility: visible;
      position: relative;

      @media (max-width: 768px) {
        transform: translateX(0);
      }

      @media (min-width: 769px) {
        position: relative;
        /*margin-bottom: 5em;*/
      }
    }
  }
}

.lbreak {
  /*@media (min-width: 1025px) {
    display: none;
  }*/
  display: none;
}
