#contacts {

}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__items .icon {
    margin-right: 0.83em;
  }

  &__content {
    width: 30%;
    max-width: 300px;
  }

  &__headline {
    text-align: left;
    font-weight: 800;
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  &__form {
    width: 50%;
    text-align: right;

    label {
      /*font-size: 0.7em;*/
      /*display: block;*/
    }

    input, textarea {
      text-align: left;
      font-size: 0.7em;
      display: block;
      width: 100%;
      border: 1px solid;
      border-color: rgba(#fff, 0.2);
      padding: 1.17em 1.7em;
      margin-bottom: 1.7em;
      font-weight: 600;
      color: rgba(#fff, 0.8);
    }

    textarea {
      text-align: left;
      margin-bottom: 10px;
    }
  }
}
